img {
    display: block;
    max-width:auto;
    max-height:200px;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
  }

  img:hover {
    max-height:300px;
  }

  .YELLOW{
    border-color: yellow;
  }

  .RED{
    border-color: red;
  }

  .BLUE{
      border-color: blue;
  }

  .GREEN{
      border-color: green;
  }

  .PURPLE{
    border-color: purple;
  }

  div{
    margin: 20px; 
    max-height:auto;
    max-width:fit-content;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: black;
  }