/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
label{
	margin: 20px;
	font-size: 20px;
}

.container{
    max-width:fit-content;
}

div.inner{
    position: relative;
    top: 0; 
    margin-right: -100px;
}

div.inner:hover{
    position: relative;
    top: 0; 
    margin-right: 0px;
}